{% extends 'layout.twig' %}

{% block content %}

<h1>{{ brand.name }}</h1>

<ul>
    {% for fragrance in fragrances %}
        <li><a href="{{ path('fragrance', {
            brand_url_slug: brand.urlSlug,
            fragrance_url_id: fragrance.url_id,
            fragrance_url_slug: fragrance.url_slug,
        }) }}">{{ fragrance.name }} ({{ fragrance.type }})</a> ({{ fragrance.gender }})</li>
    {% endfor %}
</ul>

{% endblock %}
