{% extends 'layout.twig' %}

{% block content %}

{% if fragrance.gender == 'male' %}
    {% set genderLabel = 'A men’s' %}
{% elseif fragrance.gender == 'female' %}
    {% set genderLabel = 'A women’s' %}
{% else %}
    {% set genderLabel = 'A unisex' %}
{% endif %}

<h1>{{ brand.name }} {{ fragrance.name }}</h1>
<p>{{ genderLabel }} fragrance</p>

<dl>
    {% for name, prices in variants %}
        <dt>{{ name }}</dt>
        {% for price in prices %}
            <dd>{{ price.merchant }}: {{ price.amount is null ? 'currently unavailable' : price.amount }}</dd>
        {% endfor %}
    {% endfor %}
</dl>

{% endblock %}
